## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Amahai,ID,-3.3333,128.9167,87.10,59,100,2.46,overcast clouds
1,1,Cape Town,ZA,-33.9258,18.4232,70.12,70,75,3.42,broken clouds
2,2,Bedesa,ET,8.9000,40.7833,58.91,32,30,5.01,scattered clouds
3,3,Port Alfred,ZA,-33.5906,26.8910,70.52,86,58,25.14,broken clouds
4,4,Airai,TL,-8.9266,125.4092,73.17,63,59,2.46,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Get the maximum temperature.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Amahai,ID,-3.3333,128.9167,87.10,59,100,2.46,overcast clouds
5,5,Charters Towers,AU,-20.1000,146.2667,84.67,40,0,11.70,clear sky
6,6,Saint-Philippe,RE,-21.3585,55.7679,78.39,84,99,18.19,light rain
13,13,Ahipara,NZ,-35.1667,173.1667,75.24,84,100,5.95,light rain
19,19,Esperance,AU,-33.8667,121.9000,84.90,37,1,13.53,clear sky
23,23,Vaini,TO,-21.2000,-175.2000,77.16,94,100,14.97,light rain
25,25,Alofi,NU,-19.0595,-169.9187,80.60,78,100,13.73,light rain
28,28,Georgetown,MY,5.4112,100.3354,82.33,77,20,3.44,few clouds
32,32,Rikitea,PF,-23.1203,-134.9692,79.57,67,100,13.73,overcast clouds
33,33,Labuhan,ID,-6.8844,112.2051,82.49,78,70,11.74,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().count()

City_ID                163
City                   163
Country                163
Lat                    163
Lng                    163
Max Temp               163
Humidity               163
Cloudiness             163
Wind Speed             163
Weather Description    163
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Amahai,ID,-3.3333,128.9167,87.10,59,100,2.46,overcast clouds
5,5,Charters Towers,AU,-20.1000,146.2667,84.67,40,0,11.70,clear sky
6,6,Saint-Philippe,RE,-21.3585,55.7679,78.39,84,99,18.19,light rain
13,13,Ahipara,NZ,-35.1667,173.1667,75.24,84,100,5.95,light rain
19,19,Esperance,AU,-33.8667,121.9000,84.90,37,1,13.53,clear sky
...,...,...,...,...,...,...,...,...,...,...
656,656,Marica,BR,-22.9194,-42.8186,80.55,91,100,5.91,overcast clouds
658,658,Tambacounda,SN,13.7539,-13.7586,75.25,23,0,6.91,clear sky
670,670,Nicoya,CR,10.1483,-85.4520,76.55,63,4,12.62,clear sky
678,678,Port-Gentil,GA,-0.7193,8.7815,78.89,82,15,10.49,few clouds
690,690,Kihei,US,20.7850,-156.4656,80.62,69,40,18.41,scattered clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Amahai,ID,87.10,overcast clouds,-3.3333,128.9167,
5,Charters Towers,AU,84.67,clear sky,-20.1000,146.2667,
6,Saint-Philippe,RE,78.39,light rain,-21.3585,55.7679,
13,Ahipara,NZ,75.24,light rain,-35.1667,173.1667,
19,Esperance,AU,84.90,clear sky,-33.8667,121.9000,
23,Vaini,TO,77.16,light rain,-21.2000,-175.2000,
25,Alofi,NU,80.60,light rain,-19.0595,-169.9187,
28,Georgetown,MY,82.33,few clouds,5.4112,100.3354,
32,Rikitea,PF,79.57,overcast clouds,-23.1203,-134.9692,
33,Labuhan,ID,82.49,broken clouds,-6.8844,112.2051,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
        lat = row["Lat"]
        lng = row["Lng"]
        params["location"] = f"{lat},{lng}"
        
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
        hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
        try:
            hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        except (IndexError):
            print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df.count()

City                   162
Country                162
Max Temp               162
Weather Description    162
Lat                    162
Lng                    162
Hotel Name             162
dtype: int64

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """
            <dl>
         <dt>Hotel Name</dt><dd>{Hotel Name}</dd>
        <dt>City</dt><dd>{City}</dd>
        <dt>Country</dt><dd>{Country}</dd>
        <dt>Max Temp</dt><dd>{Max Temp} °F</dd>
        </dl>
                """



# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))