## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Weather_Database,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Hobart,AU,-42.8794,147.3294,58.01,79,40,4.61,scattered clouds
1,1,Kodiak,US,57.7900,-152.4072,31.51,86,75,5.75,broken clouds
2,2,Saskylakh,RU,71.9167,114.0833,-27.27,100,85,3.62,overcast clouds
3,3,Hithadhoo,MV,-0.6000,73.0833,82.56,73,92,14.45,overcast clouds
4,4,Flinders,AU,-34.5833,150.8552,68.38,78,99,5.99,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Get the maximum temperature.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Weather_Database,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
3,3,Hithadhoo,MV,-0.6000,73.0833,82.56,73,92,14.45,overcast clouds
5,5,Rikitea,PF,-23.1203,-134.9692,78.64,73,47,12.33,scattered clouds
6,6,Vaini,TO,-21.2000,-175.2000,75.36,100,100,12.66,light rain
7,7,Ligayan,PH,4.6533,119.4706,80.28,81,100,10.36,overcast clouds
13,13,Cape Town,ZA,-33.9258,18.4232,77.88,64,0,1.99,clear sky
19,19,Taoudenni,ML,22.6783,-3.9836,75.67,8,56,8.52,broken clouds
20,20,Hambantota,LK,6.1241,81.1185,77.34,94,5,6.91,clear sky
25,25,Karratha,AU,-20.7377,116.8463,84.65,70,62,5.77,broken clouds
26,26,Tari,NG,12.4086,4.4914,78.44,12,0,10.18,clear sky
29,29,Kalmunai,LK,7.4167,81.8167,75.70,78,5,7.72,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().count()

Weather_Database       197
City                   197
Country                197
Lat                    197
Lng                    197
Max Temp               197
Humidity               197
Cloudiness             197
Wind Speed             197
Weather Description    197
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,Weather_Database,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
3,3,Hithadhoo,MV,-0.6000,73.0833,82.56,73,92,14.45,overcast clouds
5,5,Rikitea,PF,-23.1203,-134.9692,78.64,73,47,12.33,scattered clouds
6,6,Vaini,TO,-21.2000,-175.2000,75.36,100,100,12.66,light rain
7,7,Ligayan,PH,4.6533,119.4706,80.28,81,100,10.36,overcast clouds
13,13,Cape Town,ZA,-33.9258,18.4232,77.88,64,0,1.99,clear sky
...,...,...,...,...,...,...,...,...,...,...
687,687,Nanakuli,US,21.3906,-158.1547,78.71,82,40,4.61,scattered clouds
692,692,Kerema,PG,-7.9631,145.7785,77.04,86,100,8.34,overcast clouds
693,693,San Carlos De Bariloche,AR,-41.1456,-71.3082,76.24,28,20,5.75,few clouds
696,696,Oranjestad,AW,12.5240,-70.0270,82.35,57,20,17.27,few clouds
703,703,Waingapu,ID,-9.6567,120.2641,78.60,88,100,7.11,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
3,Hithadhoo,MV,82.56,overcast clouds,-0.6000,73.0833,
5,Rikitea,PF,78.64,scattered clouds,-23.1203,-134.9692,
6,Vaini,TO,75.36,light rain,-21.2000,-175.2000,
7,Ligayan,PH,80.28,overcast clouds,4.6533,119.4706,
13,Cape Town,ZA,77.88,clear sky,-33.9258,18.4232,
19,Taoudenni,ML,75.67,broken clouds,22.6783,-3.9836,
20,Hambantota,LK,77.34,clear sky,6.1241,81.1185,
25,Karratha,AU,84.65,broken clouds,-20.7377,116.8463,
26,Tari,NG,78.44,clear sky,12.4086,4.4914,
29,Kalmunai,LK,75.70,clear sky,7.4167,81.8167,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
        lat = row["Lat"]
        lng = row["Lng"]
        params["location"] = f"{lat},{lng}"
        
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
        hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
        try:
            hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        except (IndexError):
            print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df.count()

City                   196
Country                196
Max Temp               196
Weather Description    196
Lat                    196
Lng                    196
Hotel Name             196
dtype: int64

In [ ]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="WeatherPy_Vacation")

In [19]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """
            <dl>
            <dt>Hotel Name</dt><dd>{Hotel Name}</dd>
            <dt>City</dt><dd>{City}</dd>
        <dt>Country</dt><dd>{Country}</dd>
        <dt>Max Temp</dt><dd>{Max Temp} °F</dd>
        </dl>
                """



# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))